
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Statistics</title>
    <link rel="stylesheet" href="admin.css">

</head>
<body>
<div class="navbar">
    <a href="all.html">Reports</a>
    <a href="Requests.html">Requests</a>
    <a href="stats.html" class="active">Statistics</a>
</div>
<div id="reports" class="content">
    <div class="header-container">
        <h1>Group Statistics</h1>
        <span class="total-number">Total:7 </span>
    </div>


    <table>
        <thead>
        <tr>
            <th>Groups</th>
            <th>Members</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Intramural Soccer</td>
            <td>17</td>
        </tr>
        <tr>
            <td>Uno Club</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Women's Lacrosse club</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Garden Club</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Robotics</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Minecraft Club</td>
            <td>14
        </tr>
        <tr>
            <td>The Worker's Union</td>
            <td>50</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
