<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Statistics</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
<div class="navbar">
    <a href="all.html">Reports</a>
    <a href="Requests.html">Requests</a>
    <a href="stats.html" class="active">Statistics</a>
</div>
    <div id="reports" class="content">
        <div class="header-container">
            <h1>User Statistics</h1>
            <span class="total-number">Total:12 </span>
        </div>


        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Membership</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>User01</td>
                <td>Owner</td>

            </tr>
            <tr>
                <td>User78</td>
                <td>Owner</td>

            </tr>
            <tr>
                <td>User10</td>
                <td>Member</td>
            </tr>
            <tr>
                <td>User08</td>
                <td>Member</td>
            </tr>
            <tr>
                <td>User01</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>User04</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>User07</td>
                <td>Member</td>
            </tr>
            <tr>
                <td>User2004</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>UserR10</td>
                <td>Member</td>
            </tr>
            <tr>
                <td>User15</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>User16</td>
                <td>Owner</td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>