<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group Stats</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
</head>
<body>
<div class="navbar">
    <a href="Report.html" th:href="@{/report/all}">Reports</a>
    <a href="Requests.html">Requests</a>
    <a href="Stats.html" class="active" th:href="@{/stats/all}">Statistics</a>
</div>

<div id="reports" class="content">
    <div class="header-container">
        <h1>Group Statistics</h1>
        <span class="total-number">Total<span th:text="${groupCount}" ></span></span>
    </div>


    <table>
        <thead>
        <tr>
            <th>Group</th>
            <th>Member Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groupList}">
            <td th:text="${group.name}"></td>
            <td th:text="${group.members.size()}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>